#
# This group is read both by the client and the server
# use it for options that affect everything
#
{% set internalip = salt.network.ip_addrs()[0] %}
[client-server]

#
# include *.cnf from the config directory
#
!includedir /etc/my.cnf.d

[mysqld]
skip-networking=0
skip-bind-address
max_allowed_packet=2G
skip-name-resolve