[client]
host                = {{ salt['pillar.get']('db_hostname', 'localhost') }}
user                = {{ salt['pillar.get']('db_username', 'root') }}
socket              = /var/run/mysqld/mysqld.sock
password            = {{ salt['pillar.get']('db_password', '67ycNmdn6aqGcdJ!') }}